<div class="bottomComponent">
    <div class="blockLine">
    <div class="imgBloco">
        <img src="https://i.ibb.co/WG9RCMr/ICONE-FACILIDADE.png" style="width:50px; margin-top: 5px;">
        <p style="text-align: center; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 12px; color: #6b6a6b; font-weight: 400;">
            FACILIDADE<br>
            DE COMPRA
        </p>
    </div>
    <div class="imgBloco">
        <img src="https://i.ibb.co/rvcsKsp/image-removebg-preview.png" style="width:50px; margin-top: 20px;">
        <p style="text-align: center; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 12px; color: #6b6a6b; font-weight: 400;">
            QUANTIDADE<br>
            NÃO LIMITADA
        </p>
    </div>
    </div>
    <div class="blockLine">
        <div class="imgBloco">
            <img src="https://i.ibb.co/7KcQTLJ/ICONE-FRETE-GRATIS.png" style="width:50px; margin-top: 5px;">
            <p style="text-align: center; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 12px; color: #6b6a6b; font-weight: 400;">
                FRETE GRÁTIS
            </p>
        </div>
        <div class="imgBloco">
            <img src="https://i.ibb.co/0Fgy7qZ/ICONE-AGILIDADE.png" style="width:50px; margin-top: 5px;">
            <p style="text-align: center; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 12px; color: #6b6a6b; font-weight: 400;">
                AGILIDADE
            </p>
        </div>
        <div class="imgBloco">
            <img src="https://i.ibb.co/BPn9NCb/ICONE-COMODIDADE.png" style="width:50px; margin-top: 5px;">
            <p style="text-align: center; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 12px; color: #6b6a6b; font-weight: 400;">
                COMODIDADE
            </p>
        </div>
    </div>
</div>
