.formComponent{
    height: calc(33vh - 40px);
    display: flex;
    justify-content: center;
}
.form-estado{
    display: grid;
    width: 80%;
}

@media (max-width: 370px)
    {
        .form-estado{
        margin: 10px 0px 0px 0px;
        }
    }