<div class="divAvaliacao">
   <div class="col text-home-margin">
      <div class="row">
         <p class="first-title">
            Avaliação de Diogo Ângelo
         </p>
         <a class="btn" [routerLink]="['/home']"
            style="margin-top: 15px; background-color: #62bfd4; border-color: #62bfd4;">
            <button class="btn btn-tadaah mobile-button" type="button"
               style="width: 150px; margin-top: 20px;
                height: 50px; box-shadow: 0px 0px 4px black; border-radius: 10px;background-color: #7e479b; border-color: #7e479b; color: white;">
               Ir para a Home
            </button>
         </a>
      </div>
   </div>
</div>